fastapi==0.115.2
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.36
bcrypt==4.3.0
asyncpg==0.29.0
alembic==1.13.2
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic[email]
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
python-multipart==0.0.9
celery==5.4.0
redis==5.1.1
aiofiles==23.2.1
gitpython==3.1.40
pathlib2==2.3.7.post1
celery==5.3.4
gevent