@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');


#travoman{
    padding: 0%;
    margin: 0%;
    background-color: #EAEAE9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#account{
    width: 83.333333333333333333333333333333vw;
    height: 83.333333333333333333333333333333vh;
    background-color: #F1F1F1;
    border-radius: 4dvh;
    box-shadow: var(--shadow-div);
    display: grid;
    grid-template-columns: 12.5vw 1.5625vw 67.708333333333333333333333333333vw 1.5625vw;
    grid-template-rows: 3.7037037037037037037037037037037vh 5.5555555555555555555555555555556vh 8.3333333333333333333333333333333vh 22.222222222222222222222222222222vh 3.7037037037037037037037037037037vh 22.222222222222222222222222222222vh;
}

#accountpanel{
    width: 12.5vw;
    height: 83.333333333333333333333333333333vh;
    border-radius: 4dvh 0dvh 0dvh 4dvh;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 2.7777777777777777777777777777778vh) 3.7037037037037037037037037037037vh 10.185185185185185185185185185185vh 58.333333333333333333333333333333vh;
    grid-template-columns: 1.0416666666666666666666666666667vw 10.416666666666666666666666666667vw 1.0416666666666666666666666666667vw;
}

.cardsdiv{
    width: 67.708333333333333333333333333333vw;
    height: 22.222222222222222222222222222222vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#firstdiv{
    grid-row-start: 4;
    grid-column-start: 3;
}

#secdiv{
    grid-row-start: 6;
    grid-column-start: 3;
}

.card{
    width: 21.875vw;
    height: 22.222222222222222222222222222222vh;
    background-color: white;
    border-radius: 1dvh;
    box-shadow: var(--light-shadow);
    transition: all 0.3s ease;
}

.homelink{
    width: 5.2083333333333333333333333333333vw;
    height: 2.7777777777777777777777777777778vh;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 1.518518518518518518518518518519vh;
    left: 1.0416666666666666666666666666667vw;
}

.home{
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.4814814814814814814814814814815vh;
    color: black;
    text-decoration: none;
}



#user{
    background-color: #D9D9D9;
    border-radius: 4dvh;
    width: 10.416666666666666666666666666667vw;
    height: 3.7037037037037037037037037037037vh;
    grid-row-start: 4;
    grid-column-start: 2;
    box-shadow: var(--light-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



#projects{
    grid-row-start: 6;
    grid-column-start: 2;
}

#buttproj{
    width: 10.416666666666666666666666666667vw;
    height: 3.7037037037037037037037037037037vh;
    border-radius: 1dvh;
    background-color: #0268FB;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

#butt-sign{
    font-weight: 600;
    font-size: 1.4814814814814814814814814814815vh;
}

#list {
    list-style: none;
    width: 10.416666666666666666666666666667vw;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 1dvh;
    box-shadow: var(--light-shadow);
    overflow: hidden;
    transition: all 0.3s ease;
    max-height: 0;
    opacity: 0;
}

#list.visible {
    max-height: 200px;
    opacity: 1;
    margin-top: 1vh;
}

#list.hidden {
    max-height: 0;
    opacity: 0;
}

#list li {
    padding: 1vh 1vw;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    font-family: "Inter";
    font-size: 1.4vh;
}

#list li:last-child {
    border-bottom: none;
}

#list li:hover {
    background-color: #f5f5f5;
}

#buttproj {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#buttproj:hover {
    background-color: #0258d8;
}

.card-grid {
    display: grid;
    grid-template-columns: 0.52083333333333333333333333333333vw 20.833333333333333333333333333333vw 0.52083333333333333333333333333333vw;
    grid-template-rows: 0.92592592592592592592592592592593vh 2.7777777777777777777777777777778vh 15.740740740740740740740740740741vh 1.8518518518518518518518518518519vh 0.92592592592592592592592592592593vh;
    border-radius: 1dvh;
    transition: all 0.3s ease;
}

#card-name{
    font-weight: 200;
    font-size: 1.8518518518518518518518518518519vh;
}

#card-name-div {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 20.833333333333333333333333333333vw;
    height: 2.7777777777777777777777777777778vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#progress-text {
    font-weight: 400;
    font-size: 1.4814814814814814814814814814815vh;
    color: #333;
    margin: 0;
}

#indicator{
    width: 0.92592592592592592592592592592593vh;
    height: 0.92592592592592592592592592592593vh;
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: red;
    border-radius: 10dvh;
    box-shadow: 0px 0px 8px 1px rgba(255, 0, 0);
}

#indicator.completed {
    background-color: #00ff00;
    box-shadow: 0px 0px 8px 1px rgba(0, 255, 0, 0.7);
}

#indicator.in-progress {
    background-color: #ffa500;
    box-shadow: 0px 0px 8px 1px rgba(255, 165, 0, 0.7);
}


#gear{
    width: 1.8518518518518518518518518518519vh;
    height: 1.8518518518518518518518518518519vh;
    grid-column-start: 2;
    grid-row-start: 4;
    background: none;
    background-image: url('../static/assets/gearcard.png');
    background-size: cover;
    border: none;
    
}

#bottom-row{
    grid-column-start: 2;
    grid-row-start: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus{
    font-size: 11.111111111111111111111111111111vh;
}

.add-project {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.add-project:hover {
    transform: scale(1.1);
}

.add-project:active {
    transform: scale(0.95);
}

.empty-card {

    border-radius: 1dvh;
    box-shadow: var(--light-shadow);
}

.project-item {
    position: relative;
}

.project-name {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 1vh 1vw;
    margin: -1vh -1vw;
}

.project-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 10.416666666666666666666666666667vw;
    height: 5.5555555555555555555555555555556vh;
    background-color: #0268FB;
    border-radius: 1dvh;
    box-shadow: var(--light-shadow);
    margin-top: 0.5vh;
    display: grid;
    grid-template-columns: 0.26041666666666666666666666666667vw 3.6458333333333333333333333333333vw 0.26041666666666666666666666666667vw 2.0833333333333333333333333333333vw 0.26041666666666666666666666666667vw 3.6458333333333333333333333333333vw 0.26041666666666666666666666666667vw;
    grid-template-rows: 0.46296296296296296296296296296296vh 1.8518518518518518518518518518519vh 0.92592592592592592592592592592593vh 1.8518518518518518518518518518519vh 0.46296296296296296296296296296296vh;
    z-index: 1000;
}

#list {
    position: relative;
    overflow: visible;
}

#list .project-item:hover {
    background-color: transparent;
}

#list .project-item .project-name:hover {
    background-color: #f5f5f5;
    border-radius: 1dvh; 
}

.stbutt{
    padding: 0%;
    margin: 0%;
    width: 3.6458333333333333333333333333333vw;
    height: 1.8518518518518518518518518518519vh;
    border: white 0.09259259259259259259259259259259vh solid;
    background-color: #0268FB;
    border-radius: 2dvh;
    font-size: 1.2962962962962962962962962962963vh;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.ndbutt{
    padding: 0%;
    margin: 0%;
    height: 1.8518518518518518518518518518519vh;
    border: white 0.09259259259259259259259259259259vh solid;
    background-color: #0268FB;
    border-radius: 2dvh;
    font-size: 1.1111111111111111111111111111111vh;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

#Front{
    grid-column-start: 2;
    grid-row-start: 2;
}

#Back{
    grid-column-start: 2;
    grid-row-start: 4;
}

#overview{
    grid-column-start: 4;
    grid-row-start: 2;
}

#results{
    grid-column-start: 6;
    grid-row-start: 2;
}

#gen{
    grid-column-start: 4;
    grid-row-start: 4;
    grid-column-end: 7;
}

.stbutt, .ndbutt {
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}


.stbutt:hover:not(.active),
.ndbutt:hover:not(.active) {
    background-color: #0258d8;
    transform: scale(1.1);
}


.stbutt.active {
    background-color: white;
    color: #0268FB;
    border-color: white;
}


.ndbutt.active {
    background-color: white;
    color: #0268FB;
    border-color: white;
}


.stbutt.active:hover,
.ndbutt.active:hover {
    background-color: white;
    color: #0268FB;
    transform: none;
    cursor: default;
}

#backup-button-div{
    grid-column-start: 2;
    grid-row-start: 5;
    display: flex;
    justify-content: center;
    align-items: end;
}

#backup-button{
    border: none;
    border-radius: 2dvh;
    background-color: #0268FB;
    width: 10.416666666666666666666666666667vw;
    height: 2.7777777777777777777777777777778vh;
    font-size: 1.4814814814814814814814814814815vh;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.92592592592592592592592592592593vh;
}

#backup-button:hover:not(.active){
    background-color: #0258d8;
}

#account-div{
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#account-text{
    margin: 0;
    padding: 0;
    font-size: 1.6666666666666666666666666666667vh;
    font-weight: 600;
    font-family: "Inter";
}

#accountt{
    background-image: url('../static/assets/account-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.7037037037037037037037037037037vh;
    height: 3.7037037037037037037037037037037vh;
}

#ava{
    width: 3.7037037037037037037037037037037vh;
    height: 3.7037037037037037037037037037037vh;
    background-color: white;
    border-radius: 10dvh;
}

#profile-settings-div{
    width: 44.791666666666666666666666666667vw;
    height: 25.925925925925925925925925925926vh;
    border: none;
    border-radius: 1dvh;
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 1.0416666666666666666666666666667vw 10.416666666666666666666666666667vw 1.0416666666666666666666666666667vw 31.25vw 1.0416666666666666666666666666667vw;
    grid-template-rows: 0.92592592592592592592592592592593vh 18.518518518518518518518518518519vh 1.8518518518518518518518518518519vh 3.7037037037037037037037037037037vh 0.92592592592592592592592592592593vh;
}

#avatar-div{
    background-color: #F1F1F1;
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar{
    width: 10.416666666666666666666666666667vw;
    height: 10.416666666666666666666666666667vw;
    border-radius: 10dvh;
    background-color: white;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#profile-settings-div {
    width: 44.791666666666666666666666666667vw;
    height: 25.925925925925925925925925925926vh;
    border: none;
    border-radius: 1dvh;
    background-color: white;
    display: grid;
    grid-template-columns: 1.0416666666666666666666666666667vw 10.416666666666666666666666666667vw 1.0416666666666666666666666666667vw 31.25vw 1.0416666666666666666666666666667vw;
    grid-template-rows: 0.92592592592592592592592592592593vh 18.518518518518518518518518518519vh 1.8518518518518518518518518518519vh 3.7037037037037037037037037037037vh 0.92592592592592592592592592592593vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 10001;
    overflow: hidden; 
}

#inputs-div {
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.account-text {
    font-family: "Inter";
    font-size: 1.4vh;
    margin-bottom: 0;
    color: #333;
}

.account-input {
    padding: 0;
    border: none;
    font-family: "Inter";
    font-size: 1.3vh;
    width: 31.25vw;
}

#buttons-div {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#change-avatar-button,
#save-changes-button,
#close-modal-button {
    padding: 0.7vh 1vw;
    border: none;
    border-radius: 0.5dvh;
    background-color: #0268FB;
    color: white;
    font-family: "Inter";
    font-size: 1.2vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#change-avatar-button:hover,
#save-changes-button:hover,
#close-modal-button:hover {
    background-color: #0258d8;
}

#avatar {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 8.716666666666666666666666666667vw;
    height: 8.716666666666666666666666666667vw;
    max-width: 10.416666666666666666666666666667vw;
    max-height: 10.416666666666666666666666666667vw;
    border-radius: 100dvh;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    justify-self: center;
    align-self: center;
}

#user {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#user:hover {
    background-color: #d0d0d0;
}

#change-avatar-button{
    grid-column-start: 2;
    grid-row-start: 4;
    font-family: "Inter";
    font-size: 1.4814814814814814814814814814815vh;
    font-weight: 600;
}

#save-changes-button{
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 13.541666666666666666666666666667vw;
    font-family: "Inter";
    font-size: 1.4814814814814814814814814814815vh;
    font-weight: 600;
}

#user-name{
    font-size: 1.6518518518518518518518518518519vh;
    font-weight: 500;
    font-family: "Inter";
}

#user-name-div{
    width: 8.3333333333333333333333333333333vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-changes-button.has-changes {
    background-color: #4392ff;
}

#save-changes-button.has-changes:hover {
    background-color: #3187ff;
}

#avatar, #ava {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.account-input {
    padding: 0;
    border: none;
    font-family: "Inter";
    font-size: 1.4vh;
    width: 31.25vw;
    border: none;
    padding-bottom: 0;
    transition: border-color 0.3s ease;
}

#profile-settings-div > #avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

