.tab-container{
    width: 70.833333333333333333333333333333vw;
    height: 83.333333333333333333333333333333vh;
    display: grid;
    grid-template-columns: 1.0416666666666666666666666666667vw 3.125vw 62.5vw 4.1666666666666666666666666666667vw;
    grid-template-rows: 1.8518518518518518518518518518519vh 3.7037037037037037037037037037037vh 1.8518518518518518518518518518519vh 40.740740740740740740740740740741vh 0.92592592592592592592592592592593vh 2.7777777777777777777777777777778vh 0.92592592592592592592592592592593vh 28.703703703703703703703703703704vh 1.8518518518518518518518518518519vh;
}

