@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

:root{
    --def-background: #EAEAE9;
    --def-background-div: #FFFFFF;
    --def-button: #F8FAFD; 
    --def-color: #0268FB;
    --shadow-div: 0px 0px 4px 0px rgb(0, 0, 0, 0.25);
    --light-shadow: 0px 0px 2px 0px rgb(0, 0, 0, 0.4);
    --button-shadow: 0px 0px 2px 0px rgb(0, 0, 0, 0.3);
}

h1,p, .links{
    padding: 0%;
    margin: 0%;
    font-family: "Inter";
}

.links{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4814814814814814814814814814815vh;
}

.links:hover{
    transform: scale(1.05);
}

#logobutt{
    width: 2.6041666666666666666666666666667vw;
    height: 4.6296296296296296296296296296296vh;
    background-image: url('../static/assets/istlogo.png');
    background-repeat: no-repeat;
    background-size: 100%;

}

.smalltext{
    font-size: 1.3vh;
    font-weight: 300;
}

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 2dvh;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.inputGroup label {
  position: absolute;
  left: 1em;
  top: 0.8em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  background-color: transparent;
  padding: 0 0.4em;
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-1.4em) scale(.9);
  background-color: white;
  color: rgb(255, 255, 255);
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(255, 255, 255);
}

.floating-label-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.floating-label-input input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 2dvh;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.floating-label-input label {
  position: absolute;
  left: 1em;
  top: 0.8em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  background-color: transparent;
  padding: 0 0.4em;
}

.floating-label-input :is(input:focus, input:valid) ~ label {
  transform: translateY(-1.4em) scale(.9);
  background-color: white;
  color: rgb(255, 255, 255);
}

.floating-label-input :is(input:focus, input:valid) {
  border-color: rgb(255, 255, 255);
}