@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh;
}

#travoman{
    padding: 0%;
    margin: 0%;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: end; 
}

#main-panel{
    width: 95.833333333333333333333333333333vw;
    height: 94.444444444444444444444444444444vh;
    background-image: url("../static/assets/fon (1).jpg");
    background-size: cover;
    border-radius: 2dvh 2dvh 0dvh 0dvh;
    display: grid;
    grid-template-columns: 1.0416666666666666666666666666667vw 2.0833333333333333333333333333333vw 13.541666666666666666666666666667vw 2.0833333333333333333333333333333vw 10.416666666666666666666666666667vw 34.375vw;
    grid-template-rows: 1.8518518518518518518518518518519vh 3.7037037037037037037037037037037vh 12.962962962962962962962962962963vh 7.4074074074074074074074074074074vh 3.7037037037037037037037037037037vh 2.7777777777777777777777777777778vh 7.4074074074074074074074074074074vh 2.7777777777777777777777777777778vh 3.7037037037037037037037037037037vh 7.4074074074074074074074074074074vh 2.7777777777777777777777777777778vh 0.92592592592592592592592592592593vh 33.333333333333333333333333333333vh 3.7037037037037037037037037037037vh;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, 0.25);
    margin-top: auto;
}

#links{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    width: 14.583333333333333333333333333333vw;
    height: 3.7037037037037037037037037037037vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-link{
    width: 3.7037037037037037037037037037037vh;
    height: 3.7037037037037037037037037037037vh;
    background-image: url("../static/assets/istlogo.png");
    background-size: cover;
}

#qasha{
    grid-column-start: 3;
    grid-row-start: 4;
    font-size: 5.9259259259259259259259259259259vh;
}

#shiza{
    grid-column-start: 3;
    grid-row-start: 5;
    font-size: 2.2222222222222222222222222222222vh;
    margin-left: 0.32083333333333333333333333333333vw;
}

#invisible{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 7;
    margin-left: 0.32083333333333333333333333333333vw;
}

#start-button{
    grid-column-start: 3;
    grid-row-start: 9;
    border: none;
    background-color: var(--def-color);
    border-radius: 2dvh;
    color: white;
    font-family: "Inter";
    font-weight: 600;
}

#cardsdiv{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 13;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards{
    width: 13.541666666666666666666666666667vw;
    height: 33.333333333333333333333333333333vh;
    box-shadow: var(--light-shadow);
    background-color: white;
    border-radius: 1dvh; 
}