@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');


#travoman{
    padding: 0%;
    margin: 0%;
    background-color: #EAEAE9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#account{
    width: 83.333333333333333333333333333333vw;
    height: 83.333333333333333333333333333333vh;
    background-color: #F1F1F1;
    border-radius: 4dvh;
    box-shadow: var(--shadow-div);
    display: grid;
    grid-template-columns: 12.5vw 1.5625vw 67.708333333333333333333333333333vw 1.5625vw;
    grid-template-rows: 3.7037037037037037037037037037037vh 5.5555555555555555555555555555556vh 8.3333333333333333333333333333333vh 22.222222222222222222222222222222vh 3.7037037037037037037037037037037vh 22.222222222222222222222222222222vh;
}

#accountpanel{
    width: 12.5vw;
    height: 83.333333333333333333333333333333vh;
    border-radius: 4dvh 0dvh 0dvh 4dvh;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 2.7777777777777777777777777777778vh) 3.7037037037037037037037037037037vh 10.185185185185185185185185185185vh 58.333333333333333333333333333333vh;
    grid-template-columns: 1.0416666666666666666666666666667vw 10.416666666666666666666666666667vw 1.0416666666666666666666666666667vw;
}

.cardsdiv{
    width: 67.708333333333333333333333333333vw;
    height: 22.222222222222222222222222222222vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#firstdiv{
    grid-row-start: 4;
    grid-column-start: 3;
}

#secdiv{
    grid-row-start: 6;
    grid-column-start: 3;
}

.card{
    width: 21.875vw;
    height: 22.222222222222222222222222222222vh;
    background-color: white;
    border-radius: 1dvh;
    box-shadow: var(--light-shadow);
}

.homelink{
    width: 5.2083333333333333333333333333333vw;
    height: 2.7777777777777777777777777777778vh;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 1.518518518518518518518518518519vh;
    left: 1.0416666666666666666666666666667vw;
}

.home{
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.4814814814814814814814814814815vh;
    color: black;
    text-decoration: none;
}



#user{
    background-color: #D9D9D9;
    border-radius: 4dvh;
    width: 10.416666666666666666666666666667vw;
    height: 3.7037037037037037037037037037037vh;
    grid-row-start: 4;
    grid-column-start: 2;
    box-shadow: var(--light-shadow);
}

#ava{
    background-color: white;
    width: 2.0833333333333333333333333333333vw;
    height: 3.7037037037037037037037037037037vh;
    border-radius: 4dvh;
}

#projects{
    grid-row-start: 6;
    grid-column-start: 2;
}

#buttproj{
    width: 10.416666666666666666666666666667vw;
    height: 3.7037037037037037037037037037037vh;
    border-radius: 1dvh;
    background-color: #0268FB;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

#butt-sign{
    font-weight: 600;
    font-size: 1.4814814814814814814814814814815vh;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 1dvh;
    box-shadow: var(--light-shadow);
    overflow: hidden;
    transition: all 0.3s ease;
    max-height: 0;
    opacity: 0;
}

#list.visible {
    max-height: 200px;
    opacity: 1;
    margin-top: 1vh;
}

#list.hidden {
    max-height: 0;
    opacity: 0;
}

#list li {
    padding: 1.5vh 1vw;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    font-family: "Inter";
    font-size: 1.4vh;
}

#list li:last-child {
    border-bottom: none;
}

#list li:hover {
    background-color: #f5f5f5;
}

#buttproj {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#buttproj:hover {
    background-color: #0258d8;
}

.card{
    display: grid;
    grid-template-columns: 0.52083333333333333333333333333333vw 20.833333333333333333333333333333vw 0.52083333333333333333333333333333vw;
    grid-template-rows: 0.92592592592592592592592592592593vh 2.7777777777777777777777777777778vh 15.740740740740740740740740740741vh 1.8518518518518518518518518518519vh 0.92592592592592592592592592592593vh;
}

#card1{
    background: linear-gradient(to right,#0258d8 60%, white 100%);
}

#card-name{
    font-weight: 200;
    font-size: 1.8518518518518518518518518518519vh;
}

#card-name-div{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 20.833333333333333333333333333333vw;
    height: 2.7777777777777777777777777777778vh;
}

#indicator{
    width: 0.92592592592592592592592592592593vh;
    height: 0.92592592592592592592592592592593vh;
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: red;
    border-radius: 10dvh;
    box-shadow: 0px 0px 8px 1px rgba(255, 0, 0);
}


#gear{
    width: 1.8518518518518518518518518518519vh;
    height: 1.8518518518518518518518518518519vh;
    grid-column-start: 2;
    grid-row-start: 4;
    background-image: url('../static/assets/gearcard.png');
    background-size: cover;
}

#bottom-row{
    grid-column-start: 2;
    grid-row-start: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}